@using DailyOperations.Domain.ViewModels.PoliceAssistants;
@model GetAllPoliceAssistantViewModel

<header class="center mg-top20 mg-bottom20"> الأمناء و الأفراد </header>
<div class="center mg-top20" id="officers-body">
    <table class="width100">
        <thead>
            <tr>
                <th class="width20">
                    <div class="flex-row center gap1 need-media-row">
                        <div>القوة</div>
                        <div class="cursor" onclick="openForm('PowerTypeForm')">
                            <span class="material-symbols-rounded primary cursor" style="font-size:20px;font-weight:500;">add_circle</span>
                        </div>
                    </div>
                </th>
                <th class="width20">
                    <div class="flex-row center gap1 need-media-row">
                        <div> الإدارة </div>
                        <div class="cursor" onclick="openForm('DepartmentForm')">
                            <span class="material-symbols-rounded primary cursor" style="font-size:20px;font-weight:500;">add_circle</span>
                        </div>
                    </div>
                </th>
                <th class="width20">
                    <div class="flex-row center gap1 need-media-row">
                        <div> الرتبة </div>
                        <div class="cursor" onclick="openForm('AssistantMilitaryDegreeForm')">
                            <span class="material-symbols-rounded primary cursor" style="font-size:20px;font-weight:500;">add_circle</span>
                        </div>
                    </div>
                </th>
                <th> الاسم </th>
                <th> التليفون</th>
                <th class="width10">
                    <div class="center">
                        <a asp-controller="PoliceAssistants" asp-action="AddOrUpdate" onclick="openForm('PoliceAssistantsForm')">
                            <span class="material-symbols-rounded primary cursor" style="font-size:38px;font-weight:500;">add_circle</span>
                        </a>
                    </div>

                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.policeAssistants != null && Model.policeAssistants.Count() > 0)
            {
                @foreach (var obj in Model.policeAssistants)
                {
                    <tr>
                        <td>@obj.PowerType?.Name</td>
                        <td>@obj.InnerDepartment?.Department</td>
                        <td>@obj.AssistantsMilitaryDegree.Degree</td>
                        <td>@obj.Name</td>
                        <td>@obj.Phone</td>
                        <td>
                            <div class="center gap2">
                                <a asp-controller="PoliceAssistants" asp-route-id="@obj.Id" asp-action="Delete">
                                    <span class="material-symbols-rounded danger">delete_forever</span>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>




<form method="post" asp-controller="PoliceAssistants" asp-action="AddOrUpdate" enctype="multipart/form-data">
    @*onsubmit="return validateProjectForm()">*@
    <div class="form-fees gap0" id="PoliceAssistantsForm">
        <div class="flex-row justify-content-start">
            <span class="material-symbols-rounded danger large-font" id="close" onclick="closeForm('PoliceAssistantsForm')">
                close
            </span>
        </div>
        <div class="flex-column align-center">
            <span id="assistants-error" class="center danger font2rem mg-bottom50 bold"></span>

            <input hidden asp-for="@Model.PoliceAssistant.Id" id="officerId" />

            <div class="mg-top25 width80">
                <label asp-for="@Model.PoliceAssistant.PowerTypeId"> القوة</label>
                <select name="PoliceAssistant.PowerTypeId" class="input-box width100" asp-items="@(new SelectList(Model.PowerTypes, "Id", "Name"))">
                </select>
            </div>
@*
            <div class="mg-top25 width80">
                <label asp-for="@Model.PoliceAssistant.DepartmentId">الإدارة</label>
                <select name="PoliceAssistant.DepartmentId" class="input-box width100" asp-items="@(new SelectList(Model.Departments, "Id", "Name"))">
                </select>
            </div>
*@
            <div class="mg-top25 width80">
                <label asp-for="@Model.PoliceAssistant.AssistantsMilitaryDegreeId"> الرتبة</label>
                <select name="PoliceAssistant.AssistantsMilitaryDegreeId" class="input-box width100" asp-items="@(new SelectList(Model.AssistantsMilitaryDegrees, "Id", "Degree"))">
                </select>
            </div>

            <div class="mg-top25 width80">
                <label asp-for="@Model.PoliceAssistant.Name">الاسم</label>
                <input asp-for="@Model.PoliceAssistant.Name" class="input-box width100" type="text" placeholder="ادخل الاسم" />
            </div>


            <div class="mg-top25 width80">
                <label asp-for="@Model.PoliceAssistant.Phone">التليفون</label>
                <input asp-for="@Model.PoliceAssistant.Phone" class="input-box width100" type="text" placeholder="ادخل رقم الهاتف" />
            </div>

            <div class="center mg-bottom50 mg-top50">
                <button type="submit" class="center btn width300px height50px card-radius bg-primary"> حفظ</button>
            </div>
        </div>
    </div>
</form>


<form method="post" asp-controller="PowerTypes" asp-action="AddOrUpdate" enctype="multipart/form-data">
    <div class="form-fees gap0" id="PowerTypeForm">
        <div class="flex-row justify-content-start">
            <span class="material-symbols-rounded danger large-font" id="close" onclick="closeForm('PowerTypeForm')">
                close
            </span>
        </div>
        <div class="flex-column align-center">
            <span id="powerTypes-error" class="center danger font2rem mg-bottom20 bold"></span>


            <div class="mg-top50 width80">
                <label asp-for="@Model.PowerType.Name">القوة</label>
                <input asp-for="@Model.PowerType.Name" class="input-box width100" type="text" placeholder="ادخل نوع القوة" />
            </div>

            <div class="center mg-bottom20 mg-top50">
                <button type="submit" class="center btn width300px height50px card-radius bg-primary"> حفظ</button>
            </div>
        </div>
    </div>
</form>




<form method="post" asp-controller="Departments" asp-action="AddOrUpdate" enctype="multipart/form-data">
    <div class="form-fees gap0" id="DepartmentForm">
        <div class="flex-row justify-content-start">
            <span class="material-symbols-rounded danger large-font" id="close" onclick="closeForm('DepartmentForm')">
                close
            </span>
        </div>
        <div class="flex-column align-center">
            <span id="Departments-error" class="center danger font2rem mg-bottom20 bold"></span>

            @*<input hidden asp-for="@Model.PowerType.Id" id="powerTypeId" />*@

            <div class="mg-top50 width80">
                <label asp-for="@Model.Department.Name">الإدارة</label>
                <input asp-for="@Model.Department.Name" class="input-box width100" type="text" placeholder="ادخل اسم الإدارة" />
            </div>

            <div class="center mg-bottom20 mg-top50">
                <button type="submit" class="center btn width300px height50px card-radius bg-primary"> حفظ</button>
            </div>
        </div>
    </div>
</form>







<form method="post" asp-controller="AssistantMilitaryDegrees" asp-action="AddOrUpdate" enctype="multipart/form-data">
    <div class="form-fees gap0" id="AssistantMilitaryDegreeForm">
        <div class="flex-row justify-content-start">
            <span class="material-symbols-rounded danger large-font" id="close" onclick="closeForm('AssistantMilitaryDegreeForm')">
                close
            </span>
        </div>
        <div class="flex-column align-center">
            <span id="AssistantMililaryDegree-error" class="center danger font2rem mg-bottom50 bold"></span>

            @*<input hidden asp-for="@Model.PowerType.Id" id="powerTypeId" />*@

            <div class="mg-top25 width80">
                <label asp-for="@Model.AssistantMililaryDegree.Degree">الرتبة</label>
                <input asp-for="@Model.AssistantMililaryDegree.Degree" class="input-box width100" type="text" placeholder="ادخل الرتبة" />
            </div>

            <div class="center mg-bottom50 mg-top50">
                <button type="submit" class="center btn width300px height50px card-radius bg-primary"> حفظ</button>
            </div>
        </div>
    </div>
</form>




<script src="~/js/layout.js"></script>