@using DailyOperations.Domain.ViewModels.Operations;
@model GetAllOperationsViewModel;

<div class="flex-column align-center">

	<div class="flex-column mg-top20 width75 bg-white shadow1 card-radius mg-bottom20 cursor padding30" onclick="expand('operation')">
		<div class="flex-row font1-5rem width100 bold gold height50px" id="operationspans">
			<div class="flex-row justify-content-start width100">
				إنشاء يومية جديدة
			</div>
			<span class="material-symbols-rounded flex-row justify-content-end width100" style="font-weight:900; font-size:40px">
				arrow_drop_up
			</span>
			<span class="material-symbols-rounded flex-row justify-content-end width100" style="font-weight:900; font-size:40px; display:none;">
				arrow_drop_down
			</span>
		</div>

		<div class="center width100">
			<div class="line width100"></div>
		</div>
		<div id="operation">
			<form method="post" asp-controller="Operations" asp-action="AddOrUpdate" enctype="multipart/form-data">
				<div class="flex-column gap3 mg-top10 align-center width100">
					<span class="font20px danger"> اختيار اليومية و القطاع و التوقيت أولا</span>

					<div class="center gap3 width100">
						<div class="width100">
							<span class="material-symbols-rounded cursor gold" onclick="openForm('GeneralDepartmentForm')">
								add_box
							</span>
							<label asp-for="@Model.GeneralDepartmentId"> الإدارة </label>
							<select name="GeneralDepartmentId" class="input-box width100" asp-items="@(new SelectList(Model.GeneralDepartments, "Id", "Department"))">
							</select>
						</div>
						<div class="width100">
							<span class="material-symbols-rounded cursor gold" onclick="openForm('InnerDepartmentForm')">
								add_box
							</span>
							<label asp-for="@Model.InnerDepartmentId"> القسم </label>
							<select name="InnerDepartmentId" class="input-box width100" asp-items="@(new SelectList(Model.InnerDepartments, "Id", "Department"))">
							</select>
						</div>
						<div class="width100">
							<span class="material-symbols-rounded cursor gold" onclick="openForm('DailyOperationForm')">
								add_box
							</span>
							<label asp-for="@Model.DailyOperationId"> اليومية </label>
							<select name="DailyOperationId" class="input-box width100" asp-items="@(new SelectList(Model.DailyOperations, "Id", "DailyOperationName"))">
							</select>
						</div>
						<div class="width100">
							<span class="material-symbols-rounded cursor gold" onclick="openForm('ShiftTypeForm')">
								add_box
							</span>
							<label asp-for="@Model.ShiftTypeId"> الفترة </label>
							<select name="ShiftTypeId" class="input-box width100" asp-items="@(new SelectList(Model.ShiftTypes, "Id", "Type"))">
							</select>
						</div>
						<div class="width100">
							<label asp-for="@Model.Date"> التاريخ </label>
							<input asp-for="@Model.Date" class="input-box width100" type="date">
						</div>
					</div>


					<div class="center gap3 width100">
						<div class="width100">
							<label asp-for="@Model.SelectedTimeFrom">التوقيت من:</label>
							<select name="SelectedTimeFrom" class="input-box width100" asp-items="@(new SelectList(Model.Times.Select(t => new { Value = t, Text = GetTimeText(t) }), "Value", "Text", Model.SelectedTimeFrom))">
							</select>
						</div>

						<div class="width100">
							<label asp-for="@Model.SelectedTimeTo">التوقيت إلى:</label>
							<select name="SelectedTimeTo" class="input-box width100" asp-items="@(new SelectList(Model.Times.Select(t => new { Value = t, Text = GetTimeText(t) }), "Value", "Text", Model.SelectedTimeTo))">
							</select>
						</div>
						<div class="width100">
							<span class="material-symbols-rounded cursor gold" onclick="openForm('SectorForm')">
								add_box
							</span>
							<label asp-for="@Model.SectorId"> القطاع </label>
							<select name="SectorId" class="input-box width100" asp-items="@(new SelectList(Model.Sectors, "Id", "SectorName"))">
							</select>
						</div>
						<div class="width100">
							<span class="material-symbols-rounded cursor gold" onclick="openForm('SectorPlaceForm')">
								add_box
							</span>
							<label asp-for="@Model.SectorPlaceToId">من:</label>
							<select name="SectorPlaceToId" class="input-box width100" asp-items="@(new SelectList(Model.SectorPlaces, "Id", "SectorPlaceName"))">
							</select>
						</div>
						<div class="width100">
							<label asp-for="@Model.SectorPlaceFromId">إلى:</label>
							<select name="SectorPlaceFromId" class="input-box width100" asp-items="@(new SelectList(Model.SectorPlaces, "Id", "SectorPlaceName"))">
							</select>
						</div>
					</div>
					<button type="submit" class="center gap2 font20px card-radius height50px cursor width300px shadow1 white bg-primary bold need-media-row">
						حفظ إعدادات اليومية
					</button>
				</div>
			</form>
		</div>
	</div>

</div>


@if (Model.DailyOperationViewModel is not null && Model.DailyOperationViewModel.Operation is not null && Model.DailyOperationViewModel.Operation.GeneralDepartment is not null && Model.OperationId != 0)
{
	<div class="flex-column align-center">

		<div class="flex-column mg-top20 width75 bg-white shadow1 card-radius mg-bottom20 cursor padding30" onclick="expand('service')">
			<div class="flex-row font1-5rem width100 bold gold height50px" id="servicespans">
				<div class="flex-row justify-content-start width100">
					إضافة خدمة
				</div>
				<span class="material-symbols-rounded flex-row justify-content-end width100" style="font-weight:900; font-size:40px">
					arrow_drop_up
				</span>
				<span class="material-symbols-rounded flex-row justify-content-end width100" style="font-weight:900; font-size:40px; display:none;">
					arrow_drop_down
				</span>
			</div>

			<div class="center width100">
				<div class="line width100"></div>
			</div>

			
			<div id="service">
				<form method="post" asp-controller="Operations" asp-action="AddOperationForMembers" enctype="multipart/form-data">
					<input hidden asp-for="@Model.OperationId" />

					<div class="flex-column gap3 mg-top10 align-center width100" id="record">
						<div class="center gap3 width100">
							<div class="width100">
								<label asp-for="@Model.SoldierId"> مجند </label>
								<select name="SoldierId" class="input-box width100" asp-items="@(new SelectList(Model.Soldiers, "Id", "Name"))">
								</select>
							</div>
							<div class="width100">
								<span class="material-symbols-rounded cursor gold" onclick="openForm('OperationTypeForm')">
									add_box
								</span>
								<label asp-for="@Model.OperationTypeId"> نوع الخدمة</label>
								<select name="OperationTypeId" class="input-box width100" asp-items="@(new SelectList(Model.OperationTypes, "Id", "Type"))">
								</select>
							</div>
							<div class="width100">
								<span class="material-symbols-rounded cursor gold" onclick="openForm('OperationDescriptionForm')">
									add_box
								</span>
								<label asp-for="@Model.OperationDescriptionId">وصف الخدمة</label>
								<select name="OperationDescriptionId" class="input-box width100" asp-items="@(new SelectList(Model.OperationDescriptions, "Id", "Description"))">
								</select>
							</div>
						</div>

						<div class="center gap2">
							<button type="submit" class="center gap2 font20px card-radius height50px cursor width200px shadow1 white bg-primary bold need-media-row">
								حفظ
							</button>
							<div class="center gap2 font20px card-radius height50px cursor width200px shadow1 white bg-primary bold need-media-row" id="printButton" onclick="printDivContent()">
								<span class="material-symbols-rounded">
									print
								</span>
								طباعة
							</div>
						</div>
					</div>

				</form>
			</div>

		</div>
	</div>



	<div class="flex-column align-center">

		<div class="flex-column mg-top20 width75 bg-white shadow1 card-radius mg-bottom20 cursor padding30" onclick="expand('signs')">
			<div class="flex-row font1-5rem width100 bold gold height50px" id="signsspans">
				<div class="flex-row justify-content-start width100">
					إضافة الإمضاء
				</div>
				<span class="material-symbols-rounded flex-row justify-content-end width100" style="font-weight:900; font-size:40px">
					arrow_drop_up
				</span>
				<span class="material-symbols-rounded flex-row justify-content-end width100" style="font-weight:900; font-size:40px; display:none;">
					arrow_drop_down
				</span>
			</div>

			<div class="center width100">
				<div class="line width100"></div>
			</div>

			<div id="signs">
				<div class="center gap3 width100 mg-top10">
					<div class="width100">
						<label> الوظيفة </label>
						<input class="input-box width100" id="job" />
					</div>
					<div class="width100">
						<label> الرتبة </label>
						<input class="input-box width100" id="degree" />
					</div>
					<div class="width100">
						<label> الاسم </label>
						<input class="input-box width100" id="name" />
					</div>
					<button class="center gap2 padding1 width500px card-radius height50px cursor shadow1 white font20px bg-primary bold need-media-row">
						<span class="material-symbols-rounded width100">
							add_box
						</span>
						<div class="width100">
							<span class="width100">
								إضافة الإمضاء
							</span>
						</div>
					</button>
				</div>
			</div>
		</div>
	</div>


	


	<div class="flex-column align-center">
		<div class="flex-column mg-top20 width75 bg-white shadow1 card-radius mg-bottom20 cursor padding30" onclick="expand('logo')">
			<div class="flex-row font1-5rem width100 bold gold height50px" id="logospans">
				<div class="flex-row justify-content-start width100">
					إضافة الشعار
				</div>
				<span class="material-symbols-rounded flex-row justify-content-end width100" style="font-weight:900; font-size:40px">
					arrow_drop_up
				</span>
				<span class="material-symbols-rounded flex-row justify-content-end width100" style="font-weight:900; font-size:40px; display:none;">
					arrow_drop_down
				</span>
			</div>

			<div class="center width100">
				<div class="line width100"></div>
			</div>

			<div id="logo" class="mg-top10">
				<div class="center gap2 width100">
					<div class="center gap2">
						<input type="file" id="photoInput" class="width90" />
						<button id="AddLogo" class="center gap2 padding1 width500px card-radius height50px cursor shadow1 white font20px bg-primary bold need-media-row" onclick="addLogo()"> إضافة شعار </button>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="flex-column width100" id="printContent">
		<div class="flex-row justify-content-between need-media-row">
			<div class="flex-column">
				<div class="center gap1">
					<div class="font20px bold" id="title"> @ViewBag.Title </div>
					<span class="material-symbols-rounded danger no-print cursor" onclick="disablePrint('title')"> print_disabled </span>
				</div>
				<div class="flex-row gap1">
					<div class="font20px bold" id="dept">@Model.DailyOperationViewModel.Operation.GeneralDepartment.Department</div>
					<span class="material-symbols-rounded danger no-print cursor" onclick="disablePrint('dept')"> print_disabled </span>
				</div>
				<div class="flex-row gap1">
					<div class="font20px bold" id="indept">@Model.DailyOperationViewModel.Operation.InnerDepartment.Department</div>
					<span class="material-symbols-rounded danger no-print cursor" onclick="disablePrint('indept')"> print_disabled </span>
				</div>
			</div>
			<img id="logo-photo" alt="Logo" class="width10 height10" />
		</div>
		<div class="center align-start gap1">
			<div class="font20px bold" id="daily"> يومية @Model.DailyOperationViewModel.Operation.DailyOperation.DailyOperationName</div>
			<span class="material-symbols-rounded danger no-print cursor" onclick="disablePrint('daily')"> print_disabled </span>
		</div>
		<div class="center align-start gap1">
			<div class="font20px bold" id="fromto">  @Model.DailyOperationViewModel.Operation.ShiftType.Type من: @GetTimeText(Model.DailyOperationViewModel.Operation.ShiftTimeFrom) إلى: @GetTimeText(Model.DailyOperationViewModel.Operation.ShiftTimeTo) </div>
			<span class="material-symbols-rounded danger no-print cursor" onclick="disablePrint('fromto')"> print_disabled </span>
		</div>
		<div class="center align-start gap1">
			<div class="font20px bold" id="sector"> القطاع @Model.DailyOperationViewModel.Operation.Sector.SectorName  من: @Model.DailyOperationViewModel.Operation.SectorPlaceFrom.SectorPlaceName إلى: @Model.DailyOperationViewModel.Operation.SectorPlaceTo.SectorPlaceName </div>
			<span class="material-symbols-rounded danger no-print cursor" onclick="disablePrint('sector')"> print_disabled </span>
		</div>
		<div class="center align-start mg-bottom20 gap1">
			<div class="font20px bold" id="date"> التاريخ:  @Model.DailyOperationViewModel.Operation.Date.ToShortDateString() </div>
			<span class="material-symbols-rounded danger no-print cursor" onclick="disablePrint('date')"> print_disabled </span>
		</div>




		<div class="flex-column align-center width100 mg-top50">

		@if (Model.GroupedSoldierOperations is not null && Model.GroupedSoldierOperations.Count() > 0)
		{
			<table class="width100 mg-bottom50">
				<thead>

					<tr class="bg-grey">
						<th class="bg-grey"> أصل القوة </th>
						<th class="bg-grey"> أجازة </th>
						<th class="bg-grey"> بالعمل </th>
						@foreach (var item in Model.GroupedSoldierOperations)
						{
							<th> @item.OperationType.Type </th>
						}	
					</tr>
				</thead>
				<tbody>
					<tr>
						<td> @Model.TotalSoldiersCount </td>
						<td> @Model.TotalHolidayCount </td>
						@{
							int sum = 0;
							@foreach (var operation in Model.GroupedSoldierOperations)
							{
								sum += operation.OperatinSoldiers.Count();
							}
						}
						<td> @sum </td>
						@foreach (var operation in Model.GroupedSoldierOperations)
						{
							<td> @operation.OperatinSoldiers.Count() </td>
						}
					</tr>
				</tbody>
			</table>


			@foreach(var item in Model.GroupedSoldierOperations)
			{
				<header class="center mg-bottom20 mg-top50" style="page-break-after: avoid;"> يومية @item.OperationType.Type </header>
				
				<table class="width100 ">
					<thead>
						<tr>
							<th> الرتبة </th>
							<th> الاسم </th>
							<th> ملاحظات </th>
							<th class="no-print cursor"> حذف </th>
						</tr>
					</thead>
				<tbody>
					@foreach (var operation in item.OperatinSoldiers)
					{
						<tr>
							<td> مجند 2 </td>
							<td>
								<div class="flex-column align-center gap0">
									@operation?.Soldier?.Name
									<div class="center">
										@operation?.Soldier?.Phone
									</div>
								</div>
							</td>
							<td class="gap1"> @operation?.OperationDescription?.Description</td>
							<td class="danger cursor no-print cursor">
								<a asp-controller="OperationSoldiers" asp-action="Delete" asp-route-id="@operation.Id" asp-route-operationId="@Model.OperationId">
									<span class="material-symbols-rounded">
										delete_forever
									</span>
								</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
			
			}
		}

		</div>


		<div id="signatures" class="flex-column font20px bold">
		</div>

	</div>

}


</div>



<form method="post" asp-controller="AddingLookUps" asp-action="GeneralDepartment" enctype="multipart/form-data">
	<div class="form-fees gap0" id="GeneralDepartmentForm">
		<div class="flex-row justify-content-start cursor">
			<span class="material-symbols-rounded danger large-font" id="close" onclick="closeForm('GeneralDepartmentForm')">
				close
			</span>
		</div>
		<div class="flex-column align-center">
			<span id="vehicleTypes-error" class="center danger font2rem mg-bottom20 bold"></span>

			<div class="margin-input width80">
				<label asp-for="GeneralDepartment.Department"> الإدارة </label>
				<input asp-for="GeneralDepartment.Department" class="input-box width100" type="text" placeholder="ادخل اسم الإدارة" />
			</div>
			<input hidden asp-for="@Model.OperationId" />
			<div class="center mg-bottom20 mg-top20">
				<button type="submit" class="center btn width300px height40px card-radius bg-primary"> حفظ</button>
			</div>
		</div>
	</div>
</form>


<form method="post" asp-controller="AddingLookUps" asp-action="InnerDepartment" enctype="multipart/form-data">
	<div class="form-fees gap0" id="InnerDepartmentForm">
		<div class="flex-row justify-content-start cursor">
			<span class="material-symbols-rounded danger large-font" id="close" onclick="closeForm('InnerDepartmentForm')">
				close
			</span>
		</div>
		<div class="flex-column align-center">
			<span id="vehicleTypes-error" class="center danger font2rem mg-bottom20 bold"></span>

			<div class="margin-input width80">
				<label asp-for="InnerlDepartment.Department"> القسم </label>
				<input asp-for="InnerlDepartment.Department" class="input-box width100" type="text" placeholder="ادخل اسم الإدارة" />
			</div>
			<input hidden asp-for="@Model.OperationId" />
			<div class="center mg-bottom20 mg-top20">
				<button type="submit" class="center btn width300px height40px card-radius bg-primary"> حفظ</button>
			</div>
		</div>
	</div>
</form>


<form method="post" asp-controller="AddingLookUps" asp-action="DailyOperation" enctype="multipart/form-data">
	<div class="form-fees gap0" id="DailyOperationForm">
		<div class="flex-row justify-content-start cursor">
			<span class="material-symbols-rounded danger large-font" id="close" onclick="closeForm('DailyOperationForm')">
				close
			</span>
		</div>
		<div class="flex-column align-center">
			<span id="vehicleTypes-error" class="center danger font2rem mg-bottom20 bold"></span>

			<div class="margin-input width80">
				<label asp-for="DailyOperation.DailyOperationName"> اليومية </label>
				<input asp-for="DailyOperation.DailyOperationName" class="input-box width100" type="text" placeholder="ادخل اسم الإدارة" />
			</div>
			<input hidden asp-for="@Model.OperationId" />
			<div class="center mg-bottom20 mg-top20">
				<button type="submit" class="center btn width300px height40px card-radius bg-primary"> حفظ</button>
			</div>
		</div>
	</div>
</form>

<form method="post" asp-controller="AddingLookUps" asp-action="ShiftType" enctype="multipart/form-data">
	<div class="form-fees gap0" id="ShiftTypeForm">
		<div class="flex-row justify-content-start cursor">
			<span class="material-symbols-rounded danger large-font" id="close" onclick="closeForm('ShiftTypeForm')">
				close
			</span>
		</div>
		<div class="flex-column align-center">
			<span id="vehicleTypes-error" class="center danger font2rem mg-bottom20 bold"></span>

			<div class="margin-input width80">
				<label asp-for="ShiftType.Type"> الفترة </label>
				<input asp-for="ShiftType.Type" class="input-box width100" type="text" placeholder="ادخل اسم الإدارة" />
			</div>
			<input hidden asp-for="@Model.OperationId" />
			<div class="center mg-bottom20 mg-top20">
				<button type="submit" class="center btn width300px height40px card-radius bg-primary"> حفظ</button>
			</div>
		</div>
	</div>
</form>


<form method="post" asp-controller="AddingLookUps" asp-action="Sector" enctype="multipart/form-data">
	<div class="form-fees gap0" id="SectorForm">
		<div class="flex-row justify-content-start cursor">
			<span class="material-symbols-rounded danger large-font" id="close" onclick="closeForm('SectorForm')">
				close
			</span>
		</div>
		<div class="flex-column align-center">
			<span id="vehicleTypes-error" class="center danger font2rem mg-bottom20 bold"></span>

			<div class="margin-input width80">
				<label asp-for="Sector.SectorName"> القطاع </label>
				<input asp-for="Sector.SectorName" class="input-box width100" type="text" />
			</div>
			<input hidden asp-for="@Model.OperationId" />
			<div class="center mg-bottom20 mg-top20">
				<button type="submit" class="center btn width300px height50px card-radius bg-primary"> حفظ</button>
			</div>
		</div>
	</div>
</form>


<form method="post" asp-controller="AddingLookUps" asp-action="SectorPlace" enctype="multipart/form-data">
	<div class="form-fees gap0" id="SectorPlaceForm">
		<div class="flex-row justify-content-start cursor">
			<span class="material-symbols-rounded danger large-font" id="close" onclick="closeForm('SectorPlaceForm')">
				close
			</span>
		</div>
		<div class="flex-column align-center">
			<span id="vehicleTypes-error" class="center danger font2rem mg-bottom20 bold"></span>

			<div class="margin-input width80">
				<label asp-for="SectorPlace.SectorPlaceName"> القطاع من أو إالى: </label>
				<input asp-for="SectorPlace.SectorPlaceName" class="input-box width100" type="text" />
			</div>
			<input hidden asp-for="@Model.OperationId" />
			<div class="center mg-bottom20 mg-top20">
				<button type="submit" class="center btn width300px height40px card-radius bg-primary"> حفظ</button>
			</div>
		</div>
	</div>
</form>


<form method="post" asp-controller="AddingLookUps" asp-action="OperationType" enctype="multipart/form-data">
	<div class="form-fees gap0" id="OperationTypeForm">
		<div class="flex-row justify-content-start cursor">
			<span class="material-symbols-rounded danger large-font" id="close" onclick="closeForm('OperationTypeForm')">
				close
			</span>
		</div>
		<div class="flex-column align-center">
			<span id="vehicleTypes-error" class="center danger font2rem mg-bottom20 bold"></span>

			<div class="margin-input width80">
				<label asp-for="OperationType.Type"> نوع الخدمة </label>
				<input asp-for="OperationType.Type" class="input-box width100" type="text" />
			</div>
			<input hidden asp-for="@Model.OperationId" />
			<div class="center mg-bottom20 mg-top20">
				<button type="submit" class="center btn width300px height40px card-radius bg-primary"> حفظ</button>
			</div>
		</div>
	</div>
</form>


<form method="post" asp-controller="AddingLookUps" asp-action="OperationDescription" enctype="multipart/form-data">
	<div class="form-fees gap0" id="OperationDescriptionForm">
		<div class="flex-row justify-content-start cursor">
			<span class="material-symbols-rounded danger large-font" id="close" onclick="closeForm('OperationDescriptionForm')">
				close
			</span>
		</div>
		<div class="flex-column align-center">
			<span id="vehicleTypes-error" class="center danger font2rem mg-bottom20 bold"></span>

			<div class="margin-input width80">
				<label asp-for="OperationDescription.Description"> وصف الخدمة </label>
				<input contenteditable="true" asp-for="OperationDescription.Description" class="input-box width100" type="text" />
			</div>
			<input hidden asp-for="@Model.OperationId" />
			<div class="center mg-bottom20 mg-top20">
				<button  type="submit" class="center btn width300px height40px card-radius bg-primary"> حفظ</button>
			</div>
		</div>
	</div>
</form>


<form method="post" asp-controller="AddingLookUps" asp-action="OperationInstruction" enctype="multipart/form-data">
	<div class="form-fees gap0" id="OperationInstructionForm">
		<div class="flex-row justify-content-start cursor">
			<span class="material-symbols-rounded danger large-font" id="close" onclick="closeForm('OperationInstructionForm')">
				close
			</span>
		</div>
		<div class="flex-column align-center">
			<span id="vehicleTypes-error" class="center danger font2rem mg-bottom20 bold"></span>

			<div class="margin-input width80">
				<label asp-for="OperationInstruction.Instruction"> تعليمات الخدمة </label>
				<input asp-for="OperationInstruction.Instruction" class="input-box width100" type="text" />
			</div>
			<input hidden asp-for="@Model.OperationId" />
			<div class="center mg-bottom20 mg-top20">
				<button type="submit" class="center btn width300px height40px card-radius bg-primary"> حفظ</button>
			</div>
		</div>
	</div>
</form>




@functions {
	public string GetTimeText(int time)
	{
		if (time <= 12)
		{
			return $"{time} ص";
		}
		else
		{
			return $"{time - 12} م";
		}
	}

}


<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<script src="~/js/roadService.js"></script>