@using DailyOperations.Domain.ViewModels.PoliceOfficers;
@model GetAllPoliceOfficersViewModel

<header class="center mg-top20 mg-bottom20"> الضباط </header>
<div class="center mg-top20" id="officers-body">
    <table class="width100">
        <thead>
            <tr>
                <th> 
                    <div class="flex-row center gap1 need-media-row">
                        <div>القوة</div>
                        <div class="cursor" onclick="openForm('PowerTypeForm')">
                            <span class="material-symbols-rounded primary cursor" style="font-size:20px;font-weight:500;">add_circle</span>
                        </div>
                    </div>
                </th>
                <th>
                    <div class="flex-row center gap1 need-media-row">
                        <div> الإدارة </div>
                        <div class="cursor" onclick="openForm('GeneralDepartmentForm')">
                            <span class="material-symbols-rounded primary cursor" style="font-size:20px;font-weight:500;">add_circle</span>
                        </div>
                    </div> 
                </th>
                <th>
                    <div class="flex-row center gap1 need-media-row">
                        <div> القسم </div>
                        <div class="cursor" onclick="openForm('InnerDepartmentForm')">
                            <span class="material-symbols-rounded primary cursor" style="font-size:20px;font-weight:500;">add_circle</span>
                        </div>
                    </div> 
                </th>
                <th> 
                    <div class="flex-row center gap1 need-media-row">
                        <div> الرتبة </div>
                        <div class="cursor" onclick="openForm('OfficerMilitaryDegreeForm')">
                            <span class="material-symbols-rounded primary cursor" style="font-size:20px;font-weight:500;">add_circle</span>
                        </div>
                    </div> 
                </th>
                <th> الاسم </th>
                <th> التليفون</th>
                <th> نوع العمل </th>
                <th> نوع السلاح </th>
                <th >
                    <div class="center">
                        <a asp-controller="PoliceOfficers" asp-action="AddOrUpdate" onclick="openForm('PoliceOfficersForm')">
                            <span class="material-symbols-rounded primary cursor" style="font-size:38px;font-weight:500;">add_circle</span>
                        </a>
                    </div>

                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.PoliceOfficers != null && Model.PoliceOfficers.Count() > 0)
            {
                @foreach (var obj in Model.PoliceOfficers)
                {
                    <tr>
                        <td>@obj?.PowerType?.Name</td>
                        <td>@obj?.GeneralDepartment?.Department</td>
                        <td>@obj?.InnerDepartment?.Department</td>
                        <td>@obj?.OfficerMilitaryDegree?.Degree</td>
                        <td>@obj?.Name</td>
                        <td>@obj?.Phone</td>
                        <td>@(obj?.IsInadministrativeWork == true ? "إداري" : "غير إداري")</td>
                        <td>@(obj?.IsArmed == true ? "سلاح" : "بدون سلاح")</td>
                        <td>
                            <div class="center gap2">
                                <a asp-controller="PoliceOfficers" asp-route-id="@obj.Id" asp-action="Delete">
                                    <span class="material-symbols-rounded danger">delete_forever</span>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>




<form method="post" asp-controller="PoliceOfficers" asp-action="AddOrUpdate" enctype="multipart/form-data"> @*onsubmit="return validateProjectForm()">*@
    <div class="form-fees gap0" id="PoliceOfficersForm">
        <div class="flex-row justify-content-start">
            <span class="material-symbols-rounded danger large-font cursor" id="close" onclick="closeForm('PoliceOfficersForm')">
                close
            </span>
        </div>
        <div class="flex-column align-center">
            <span id="officers-error" class="center danger font2rem mg-bottom20 bold"></span>

            <input hidden asp-for="PoliceOfficer.Id" id="officerId" />
            
            <div class="center gap2 width90">
                <div class="mg-top20 width100">
                    <label asp-for="@Model.PoliceOfficer.PowerTypeId"> القوة</label>
                    <select name="PoliceOfficer.PowerTypeId" class="input-box width100" asp-items="@(new SelectList(Model.PowerTypes, "Id", "Name"))">
                    </select>
                </div>
            
                <div class="mg-top20 width100">
                    <label asp-for="@Model.PoliceOfficer.OfficerMilitaryDegreeId"> الرتبة</label>
                    <select name="PoliceOfficer.OfficerMilitaryDegreeId" class="input-box width100" asp-items="@(new SelectList(Model.OfficersMililaryDegrees, "Id", "Degree"))">
                    </select>
                </div>
            
                <div class="mg-top20 width100">
                    <label asp-for="@Model.PoliceOfficer.Phone">التليفون</label>
                    <input id="project-name" asp-for="@Model.PoliceOfficer.Phone" class="input-box width100" type="text" placeholder="ادخل رقم الهاتف" />
                </div>
            </div>
            

            <div class="center gap2 width90">
                <div class="mg-top20 width100">
                    <label asp-for="@Model.PoliceOfficer.Name">الاسم</label>
                    <input id="project-name" asp-for="@Model.PoliceOfficer.Name" class="input-box width100" type="text" placeholder="ادخل الاسم" />
                </div>
            
                <div class="mg-top20 width100">
                    <label asp-for="@Model.PoliceOfficer.PoliceOfficerAlternativeId"> البديل</label>
                    <select name="PoliceOfficer.PoliceOfficerAlternativeId" class="input-box width100" asp-items="@(new SelectList(Model.PoliceOfficers, "Id", "Name"))">
                        <option></option>
                    </select>
                </div>
            </div>

            <div class="center gap2 width90">
                <div class="mg-top20 width100">
                    <label asp-for="@Model.PoliceOfficer.GeneralDepartmentId"> الإدارة</label>
                    <select name="PoliceOfficer.GeneralDepartmentId" class="input-box width100" asp-items="@(new SelectList(Model.GeneralDepartments, "Id", "Department"))">
                    </select>
                </div>

                <div class="mg-top20 width100">
                    <label asp-for="@Model.PoliceOfficer.InnerDepartmentId"> القسم</label>
                    <select name="PoliceOfficer.InnerDepartmentId" class="input-box width100" asp-items="@(new SelectList(Model.InnerDepartments, "Id", "Department"))">
                    </select>
                </div>
            </div>


            <div class="mg-top20 width90">
                <div class="center gap7">
                    <label class="bold"> السلاح: </label>
                    <label>
                        @Html.RadioButtonFor(m => m.PoliceOfficer.IsArmed, true)
                        <span> مسلح </span>
                    </label>

                    <label>
                        @Html.RadioButtonFor(m => m.PoliceOfficer.IsArmed, false)
                        <span> بدون سلاح </span>
                    </label>
                </div>
            </div>
                
            <div class="mg-top20 width90">
                <div class="center gap7">
                    <label class="bold"> نوع العمل: </label>
                    <label>
                        @Html.RadioButtonFor(m => m.PoliceOfficer.IsInadministrativeWork, true)
                        <span> إداري </span>
                    </label>

                    <label>
                        @Html.RadioButtonFor(m => m.PoliceOfficer.IsInadministrativeWork, false)
                        <span> غير إداري </span>
                    </label>
                </div>
            </div>


            <div class="center mg-bottom20 mg-top50">
                <button type="submit" class="center font20px white bold width300px height50px card-radius bg-primary"> حفظ</button>
            </div>
        </div>
    </div>
</form>



<form method="post" asp-controller="PowerTypes" asp-action="AddOrUpdate" enctype="multipart/form-data">
    <div class="form-fees gap0" id="PowerTypeForm">
        <div class="flex-row justify-content-start">
            <span class="material-symbols-rounded danger large-font cursor" id="close" onclick="closeForm('PowerTypeForm')">
                close
            </span>
        </div>
        <div class="flex-column align-center">
            <span id="powerTypes-error" class="center danger font2rem mg-bottom20 bold"></span>


            <div class="mg-top50 width80">
                <label asp-for="@Model.PowerType.Name">القوة</label>
                <input asp-for="@Model.PowerType.Name" class="input-box width100" type="text" placeholder="ادخل نوع القوة" />
            </div>

            <div class="center mg-bottom20 mg-top50">
                <button type="submit" class="center font20px white bold width300px height50px card-radius bg-primary"> حفظ</button>
            </div>
        </div>
    </div>
</form>






<form method="post" asp-controller="PoliceOfficers" asp-action="GeneralDepartment" enctype="multipart/form-data">
    <div class="form-fees gap0" id="GeneralDepartmentForm">
        <div class="flex-row justify-content-start cursor">
            <span class="material-symbols-rounded danger large-font cursor" id="close" onclick="closeForm('GeneralDepartmentForm')">
                close
            </span>
        </div>
        <div class="flex-column align-center">
            <span id="vehicleTypes-error" class="center danger font2rem mg-bottom20 bold"></span>

            <div class="margin-input width80">
                <label asp-for="GeneralDepartment.Department"> الإدارة </label>
                <input asp-for="GeneralDepartment.Department" class="input-box width100" type="text" placeholder="ادخل اسم الإدارة" />
            </div>
            <div class="center mg-bottom20 mg-top20">
                <button type="submit" class="center font20px white bold width300px height50px card-radius bg-primary"> حفظ</button>
            </div>
        </div>
    </div>
</form>


<form method="post" asp-controller="PoliceOfficers" asp-action="InnerDepartment" enctype="multipart/form-data">
    <div class="form-fees gap0" id="InnerDepartmentForm">
        <div class="flex-row justify-content-start cursor">
            <span class="material-symbols-rounded danger large-font cursor" id="close" onclick="closeForm('InnerDepartmentForm')">
                close
            </span>
        </div>
        <div class="flex-column align-center">
            <span id="vehicleTypes-error" class="center danger font2rem mg-bottom20 bold"></span>

            <div class="margin-input width80">
                <label asp-for="InnerDepartment.Department"> القسم </label>
                <input asp-for="InnerDepartment.Department" class="input-box width100" type="text" placeholder="ادخل اسم القسم" />
            </div>
            <div class="center mg-bottom20 mg-top20">
                <button type="submit" class="center font20px white bold width300px height50px card-radius bg-primary"> حفظ</button>
            </div>
        </div>
    </div>
</form>



<form method="post" asp-controller="OfficerMilitaryDegrees" asp-action="AddOrUpdate" enctype="multipart/form-data">
    <div class="form-fees gap0" id="OfficerMilitaryDegreeForm">
        <div class="flex-row justify-content-start">
            <span class="material-symbols-rounded danger large-font cursor" id="close" onclick="closeForm('OfficerMilitaryDegreeForm')">
                close
            </span>
        </div>
        <div class="flex-column align-center">
            <span id="OfficerMilitaryDegree-error" class="center danger font2rem mg-bottom20 bold"></span>

            @*<input hidden asp-for="@Model.PowerType.Id" id="powerTypeId" />*@

            <div class="mg-top50 width80">
                <label asp-for="@Model.OfficerMililaryDegree.Degree">الرتبة</label>
                <input asp-for="@Model.OfficerMililaryDegree.Degree" class="input-box width100" type="text" placeholder="ادخل الرتبة" />
            </div>

            <div class="center mg-bottom20 mg-top50">
                <button type="submit" class="center font20px white bold width300px height50px card-radius bg-primary"> حفظ</button>
            </div>
        </div>
    </div>
</form>




<script src="~/js/layout.js"></script>