@using DailyOperations.Domain.ViewModels.OfficerHolidays;
@model GetAllOfficerHolidaysViewModel

<div class="center mg-top25 mg-bottom50 gap7 need-media-row">
    <a asp-controller="OfficerHolidays" asp-action="GetAll" class="center padding1 gap2 font20px card-radius height50px cursor width200px shadow1 bold need-media-row">
        الحضور
        <span class="material-symbols-rounded">
            groups
        </span>
    </a>
    <a asp-controller="OfficerHolidays" asp-action="GetAllHolidays" class="center padding1 gap2 font20px card-radius height50px cursor width200px shadow1 bold white bg-primary need-media-row">
        الأجازات
        <span class="material-symbols-rounded">
            hotel
        </span>
    </a>
</div>


<form class="center" method="post" asp-controller="OfficerHolidays" asp-action="GetAllHolidays" enctype="multipart/form-data">
    <div class="center width30 gap2 mg-bottom50 mg-top50 need-media-row">
        <div class="center width100 gap2 card-radius card-padding bg-white need-media-row">

            <div class="width100">
                <label> تاريخ العودة </label>
                <input asp-for="@Model.ReturnDate" type="date" class="input-box width100" />
            </div>

            <button type="submit" class="bg-primary height-fit padding1 radius50 mg-top25 cursor white">
                <span class="material-symbols-rounded">
                    search
                </span>
            </button>
        </div>
        <div class="center width300px gap1 mg-top10">
            <label> تحديد الكل </label>
            <input id="check-all" class="" type="checkbox" />
        </div>
    </div>
</form>




<form method="post" asp-controller="OfficerHolidays" asp-action="AddHolidayReturn" enctype="multipart/form-data">


    <div class="flex-column align-center">
        <table class="width75">
            <thead>
                <tr>
                    <th> الاسم </th>
                    <th> تاريخ بداية الأجازة </th>
                    <th> تاريخ العودة </th>
                    <th> مدة الأجازة </th>
                    <th> تعديل </th>
                    <th> معاودة </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.OfficerHolidays is not null && Model.OfficerHolidays.Count() > 0)
                {
                    @for (int i = 0; i < Model.OfficerHolidays.Count; i++)
                    {
                        <tr>
                            <td>@Model.OfficerHolidays[i]?.OfficerHoliday?.PoliceOfficer?.Name</td>
                            <td>@Model.OfficerHolidays[i]?.OfficerHoliday?.HolidayStartDate?.ToShortDateString()</td>
                            <td>@Model.OfficerHolidays[i]?.OfficerHoliday?.HolidayEndDate?.ToShortDateString()</td>
                            <td>
                                @{
                                    DateTime? startDate = Model.OfficerHolidays[i]?.OfficerHoliday?.HolidayStartDate;
                                    DateTime? endDate = Model.OfficerHolidays[i]?.OfficerHoliday?.HolidayEndDate;
                                    int? dateDifference = null;

                                    if (startDate != null && endDate != null)
                                    {
                                        dateDifference = (int)(endDate - startDate).Value.TotalDays;
                                    }
                                }

                                @dateDifference
                            </td>
                            <td>
                                <div class="center" onclick="openForm('ReturnForm', 'hiddenInput', @Model.OfficerHolidays[i].OfficerHoliday.Id)">
                                    <span class="material-symbols-rounded green cursor" style="font-size:35px;">
                                        edit_note
                                    </span>
                                </div>
                            </td>
                            <td>
                                <div class="center">
                                    <input asp-for="@Model.OfficerHolidays[i].OfficerHoliday.Id" hidden />
                                    <input asp-for="@Model.OfficerHolidays[i].IsSelectedForReturn" class="align-center checkbox" type="checkbox" />
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        <div class="center mg-bottom50 mg-top50">
            <button type="submit" class="center font20px white bold width300px height50px card-radius bg-primary"> حفظ</button>
        </div>

    </div>

</form>




<form method="post" asp-controller="OfficerHolidays" asp-action="EditReturnDates" enctype="multipart/form-data">
    <div class="form-fees gap0 card-padding width30" id="ReturnForm">
        <div class="flex-row justify-content-start">
            <span class="material-symbols-rounded cursor danger large-font" id="close" onclick="closeForm('ReturnForm')">
                close
            </span>
        </div>
        <input id="hiddenInput" hidden asp-for="@Model.OfficerHolidayId" />
        <div class="flex-column align-center">
            <div class="width80">
                <label> تاريخ بداية الأجازة </label>
                <input asp-for="@Model.HolidayStartDate" type="date" class="input-box width100" />
            </div>
            <div class="width80">
                <label> تاريخ نهاية الأجازة </label>
                <input asp-for="@Model.HolidayEndDate" type="date" class="input-box width100" />
            </div>

            <div class="center mg-bottom20 mg-top50">
                <button type="submit" class="center font20px white bold width300px height50px card-radius bg-primary"> حفظ</button>
            </div>
        </div>
    </div>
</form>



<script src="~/js/soldierHolidays.js"></script>