@using DailyOperations.Domain.Entities.Holidays;
@model List<OfficerHoliday>

<div class="flex-column align-center width100" id="printContent">


    @{
        int size = Model.Count;
    }
    @for (int i = 0; i < size;)
    {
        <div class="center width10  mg-bottom20 gap2">

            @if (i < size)
            {
                <div class="flex-column width100 bg-white card-padding border-dark">
                    <div class="center">
                        <div class="flex-row justify-content-between width100">
                            <div class="width100">
                                <h5> مديرية أمن مطروح </h5>
                                <h5> إدارة مرور مطروح </h5>
                            </div>
                            <div>
                                <img src="~/logo.png" class="width30px height30px">
                            </div>
                        </div>
                    </div>

                    <div class="line mg-top10"></div>
                    <h5 class="center mg-top10 mg-bottom10"> تصريح أجازة </h5>
                    <div class="line"></div>

                    <div class="flex-row mg-top20">
                        <span class="font10px">
                            الاسم /
                            <span class="font10px bold">
                                @Model[i].PoliceOfficer?.Name
                            </span>
                        </span>
                    </div>

                    <div class="center mg-top10">
                        <div class="line width50"></div>
                    </div>

                    <div class="center font10px mg-top20">
                        يصرح للمذكور القيام بأجازة ميدانية
                    </div>
                    <div class="center font10px mg-top10">
                        من الساعة 6 ص يوم: @Model[i].HolidayStartDate?.ToShortDateString()
                    </div>
                    <div class="center font10px mg-top10">
                        إالى الساعة 10 م يوم: @Model[i].HolidayEndDate?.ToShortDateString()
                    </div>
                    <div class="center font10px mg-top10">
                        و هذا تصريح منا بذلك...
                    </div>

                    <div class="flex-row">
                    </div>
                </div>
                i++;
            }

            @if (i < size)
            {
                <div class="flex-column width100 bg-white card-padding border-dark">

                    <div class="center">
                        <div class="flex-row justify-content-between width100">
                            <div class="width100">
                                <h5> مديرية أمن مطروح </h5>
                                <h5> إدارة مرور مطروح </h5>
                            </div>
                            <div>
                                <img src="~/logo.png" class="width30px height30px">
                            </div>
                        </div>
                    </div>

                    <div class="line mg-top10"></div>
                    <h5 class="center mg-top10 mg-bottom10"> تصريح أجازة </h5>
                    <div class="line"></div>

                    <div class="flex-row mg-top20">
                        <span class="font10px">
                            الاسم /
                            <span class="font10px bold">
                                @Model[i].PoliceOfficer?.Name
                            </span>
                        </span>
                    </div>

                    <div class="center mg-top10">
                        <div class="line width50"></div>
                    </div>

                    <div class="center font10px mg-top20">
                        يصرح للمذكور القيام بأجازة ميدانية
                    </div>
                    <div class="center font10px mg-top10">
                        من الساعة 6 ص يوم: @Model[i].HolidayStartDate?.ToShortDateString()
                    </div>
                    <div class="center font10px mg-top10">
                        إالى الساعة 10 م يوم: @Model[i].HolidayEndDate?.ToShortDateString()
                    </div>
                    <div class="center font10px mg-top10">
                        و هذا تصريح منا بذلك...
                    </div>

                    <div class="flex-row">
                    </div>
                </div>
                i++;
            }
            @if (i < size)
            {
                <div class="flex-column width100 bg-white card-padding border-dark">

                    <div class="center">
                        <div class="flex-row justify-content-between width100">
                            <div class="width100">
                                <h5> مديرية أمن مطروح </h5>
                                <h5> إدارة مرور مطروح </h5>
                            </div>
                            <div>
                                <img src="~/logo.png" class="width30px height30px">
                            </div>
                        </div>
                    </div>

                    <div class="line mg-top10"></div>
                    <h5 class="center mg-top10 mg-bottom10"> تصريح أجازة </h5>
                    <div class="line"></div>

                    <div class="flex-row mg-top20">
                        <span class="font10px">
                            الاسم /
                            <span class="font10px bold">
                                @Model[i].PoliceOfficer?.Name
                            </span>
                        </span>
                    </div>

                    <div class="center mg-top10">
                        <div class="line width50"></div>
                    </div>

                    <div class="center font10px mg-top20">
                        يصرح للمذكور القيام بأجازة ميدانية
                    </div>
                    <div class="center font10px mg-top10">
                        من الساعة 6 ص يوم: @Model[i].HolidayStartDate?.ToShortDateString()
                    </div>
                    <div class="center font10px mg-top10">
                        إالى الساعة 10 م يوم: @Model[i].HolidayEndDate?.ToShortDateString()
                    </div>
                    <div class="center font10px mg-top10">
                        و هذا تصريح منا بذلك...
                    </div>

                    <div class="flex-row">
                    </div>
                </div>
                i++;
            }

        </div>
    }


</div>

<div class="center mg-top50">
    <div class="center gap2 font20px card-radius height50px cursor width500px shadow1 white bg-primary bold" id="printButton" onclick="printDivContent()">
        طباعة
        <span class="material-symbols-rounded">
            print
        </span>
    </div>
</div>

<script src="~/js/holidays.js"></script>