@using DailyOperations.Domain.ViewModels.SoldierHolidays;
@model GetAllSoldierHolidaysViewModel

<div class="center mg-top25 mg-bottom50 gap7">
    <a asp-controller="SoldierHolidays" asp-action="GetAll" class="center padding1 gap2 font20px card-radius height50px cursor width200px shadow1 bold white bg-primary">
        الحضور
        <span class="material-symbols-rounded">
            groups
        </span>
    </a>
    <a asp-controller="SoldierHolidays" asp-action="GetAllHolidays" class="center padding1 gap2 font20px card-radius height50px cursor width200px shadow1 bold">
        الأجازات
        <span class="material-symbols-rounded">
            hotel
        </span>
    </a>
</div>


<form class="center" method="post" asp-controller="SoldierHolidays" asp-action="GetAll" enctype="multipart/form-data">
    <div class="center width30 gap2 mg-bottom50 mg-top50">
        <div class="center width100 gap2 card-radius card-padding bg-white">
            <div class="width100">
                <label asp-for="@Model.NumberOfDays"> عدد أيام العمالة </label>
                <input asp-for="@Model.NumberOfDays" type="text" class="input-box width100" />
            </div>
        
            <button type="submit" class="bg-primary height-fit padding1 radius50 mg-top25 cursor white">
                <span class="material-symbols-rounded">
                    search
                </span>
            </button>

        </div>
            <div class="center width300px gap1 mg-top10">
                <label> تحديد الكل </label>
                <input id="check-all" class="" type="checkbox" />
            </div>
    </div>
</form>


<form method="post" asp-controller="SoldierHolidays" asp-action="Add" enctype="multipart/form-data">
   
    
    <div class="flex-column align-center">
        <table class="width75">
            <thead>
                <tr>
                    <th>
                        <div class="flex-row center gap1">
                            <div> الاسم </div>
                        </div>
                    </th>
                    <th>
                        <div class="flex-row center gap1">
                            <div> أيام العمالة </div>
                        </div>
                    </th>
                    <th>
                        <div class="flex-column gap2">
                            <div> إضافة أجازة </div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.SoldierHolidays is not null && Model.SoldierHolidays.Count() > 0)
                {
                    @for(int i = 0 ; i < Model.SoldierHolidays.Count ; i++)
                    {
                        <tr>
                            <td>@Model.SoldierHolidays[i]?.Soldier?.Name</td>
                            <td>@Model.SoldierHolidays[i]?.DaysSinceHoldiay</td>
                            <td class="center">
                                <input asp-for="@Model.SoldierHolidays[i].Soldier.Id" hidden />
                                <input asp-for="@Model.SoldierHolidays[i].IsSelected" class="align-center checkbox" type="checkbox" />
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

    
        <div class="center width50 gap2 mg-top50 card-radius card-padding bg-white">
            <div class="width100">
                <label> تاريخ بداية الأجازة </label>
                <input asp-for="@Model.HolidayStartDate" type="date" class="input-box width100"/>
            </div>
            <div class="width100">
                <label> تاريخ نهاية الأجازة </label>
                <input asp-for="@Model.HolidayEndDate" type="date" class="input-box width100"/>
            </div>
            <div class="width100">
                <label asp-for="@Model.SelectedHolidayTypeId"> نوع الأجازة</label>
                <select name="SelectedHolidayTypeId" class="input-box width100" asp-items="@(new SelectList(Model.HolidayTypes, "Id", "Type"))">
                </select>
            </div>
        </div>
    

        <div class="center mg-bottom50 mg-top50">
            <button type="submit" class="center btn width300px height50px card-radius bg-primary"> حفظ</button>
        </div>

    </div>

</form>


<script src="~/js/soldierHolidays.js"></script>