@using DailyOperations.Domain.ViewModels.SoldierHolidays;
@model GetAllSoldierHolidaysViewModel

<div class="center mg-top25 mg-bottom50 gap2 need-media-row">
    <a asp-controller="SoldierHolidays" asp-action="GetAll" class="center padding1 gap2 font20px card-radius height50px cursor width200px shadow1 bold need-media-row">
        الحضور
        <span class="material-symbols-rounded">
            groups
        </span>
    </a>
    <a asp-controller="SoldierHolidays" asp-action="GetAllHolidays" class="center padding1 gap2 font20px card-radius height50px cursor width200px shadow1 bold white bg-primary need-media-row">
        الأجازات
        <span class="material-symbols-rounded">
            hotel
        </span>
    </a>
</div>


<form class="center" method="post" asp-controller="SoldierHolidays" asp-action="GetAllHolidays" enctype="multipart/form-data">
    <div class="center width75 gap7 mg-bottom50 mg-top50 need-media-row padding20-30 bg-white card-radius">
        <div class="flex-row justify-content-start width100 gap0 card-radius need-media-row">
            <div class="width30">
                <label> تاريخ العودة </label>
                <input asp-for="@Model.ReturnDate" type="date" class="input-box width100" style="height:60px;border-radius:15px;" />
            </div>

            <button type="submit" class="bg-transperant bold primary padding1 mg-top20 radius50 cursor">
                <span class="material-symbols-rounded primary bold700 hover" style="font-size:35px">
                    search
                </span>
            </button>
        </div>
        <div class="flex-column justify-content-end">
            <div class="center width300px gap1 mg-top10">
                <input id="check-all" class="" type="checkbox" />
                <label> تحديد الكل </label>
            </div>
        </div>
    </div>
</form>




<form method="post" asp-controller="SoldierHolidays" asp-action="AddHolidayReturn" enctype="multipart/form-data">


    <div class="flex-column align-center">
        <table class="width75">
            <thead>
                <tr>
                    <th> الاسم </th>
                    <th> تاريخ بداية الأجازة </th>
                    <th> تاريخ العودة </th>
                    <th> مدة الأجازة </th>
                    <th> تعديل </th>
                    <th> معاودة </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.SoldierHolidays is not null && Model.SoldierHolidays.Count() > 0)
                {
                    @for (int i = 0; i < Model.SoldierHolidays.Count; i++)
                    {
                        <tr>
                            <td>@Model.SoldierHolidays[i]?.SoldierHoliday?.Soldier?.Name</td>
                            <td>@Model.SoldierHolidays[i]?.SoldierHoliday?.HolidayStartDate?.ToShortDateString()</td>
                            <td>@Model.SoldierHolidays[i]?.SoldierHoliday?.HolidayEndDate?.ToShortDateString()</td>
                            <td>
                                @{
                                    DateTime? startDate = Model.SoldierHolidays[i]?.SoldierHoliday?.HolidayStartDate;
                                    DateTime? endDate = Model.SoldierHolidays[i]?.SoldierHoliday?.HolidayEndDate;
                                    int? dateDifference = null;

                                    if (startDate != null && endDate != null)
                                    {
                                        dateDifference = (int)(endDate - startDate).Value.TotalDays + 1;
                                    }
                                }

                                @dateDifference
                            </td>
                            <td>
                                <div class="center" onclick="openForm('ReturnForm', 'hiddenInput', @Model.SoldierHolidays[i].SoldierHoliday.Id)">
                                    <span class="material-symbols-rounded gold cursor" style="font-size:28px;">
                                        edit_square
                                    </span>
                                </div>
                            </td>
                            <td>
                                <div class="center">
                                    <input asp-for="@Model.SoldierHolidays[i].SoldierHoliday.Id" hidden />
                                    <input asp-for="@Model.SoldierHolidays[i].IsSelectedForReturn" class="align-center checkbox" type="checkbox" />
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        <div class="center width100 mg-top25">
            <button type="submit" class="center font20px white bold width200px height50px card-radius bg-primary"> حفظ</button>
        </div>

    </div>

</form>




<form method="post" asp-controller="SoldierHolidays" asp-action="EditReturnDates" enctype="multipart/form-data">
    <div class="form-fees gap0 card-padding width30" id="ReturnForm">
        <div class="flex-row justify-content-start">
            <span class="material-symbols-rounded cursor danger large-font" id="close" onclick="closeForm('ReturnForm')">
                close
            </span>
        </div>
        <input id="hiddenInput" hidden asp-for="@Model.SoldierHolidayId" />
        <div class="flex-column align-center">
            <div class="width80">
                <label> تاريخ بداية الأجازة </label>
                <input asp-for="@Model.HolidayStartDate" type="date" class="input-box width100" />
            </div>
            <div class="width80">
                <label> تاريخ نهاية الأجازة </label>
                <input asp-for="@Model.HolidayEndDate" type="date" class="input-box width100" />
            </div>

            <div class="center mg-bottom20 mg-top50">
                <button type="submit" class="center font20px white bold width300px height50px card-radius bg-primary"> حفظ</button>
            </div>
        </div>
    </div>
</form>



<script src="~/js/soldierHolidays.js"></script>