@using DailyOperations.Domain.ViewModels.SoldierHolidays;
@model GetAllSoldierHolidaysViewModel

<div class="center mg-top25 mg-bottom50 gap2 need-media-row">
    <a asp-controller="SoldierHolidays" asp-action="GetAll" class="center padding1 gap2 font20px card-radius height50px cursor width200px shadow1 bold white bg-primary need-media-row">
        الحضور
        <span class="material-symbols-rounded">
            groups
        </span>
    </a>
    <a asp-controller="SoldierHolidays" asp-action="GetAllHolidays" class="center padding1 gap2 font20px card-radius height50px cursor width200px shadow1 bold need-media-row">
        الأجازات
        <span class="material-symbols-rounded">
            hotel
        </span>
    </a>
</div>


<form class="center" method="post" asp-controller="SoldierHolidays" asp-action="GetAll" enctype="multipart/form-data">
    <div class="center width75 gap7 mg-bottom50 mg-top50 need-media-row padding20-30 bg-white card-radius">
        <div class="flex-row justify-content-start width100 gap0 card-radius need-media-row">
            <div class="width30">
                <label asp-for="@Model.NumberOfDays" class="gold"> عدد أيام العمالة </label>
                <input asp-for="@Model.NumberOfDays" type="number" class="padding-right70 input-box width100" style="height:60px;border-radius:15px;" placeholder="أدخل عدد أيام العمالة..."/>
            </div>
        
            <button type="submit" class="bg-transperant bold primary padding1 mg-top20 radius50 cursor transform-left-80">
                <span class="material-symbols-rounded primary bold700 hover" style="font-size:35px">
                    search
                </span>
            </button>

            <div class="flex-column justify-content-end">
                <div class="center width300px gap1 mg-top10">
                    <input id="check-all" class="" type="checkbox" />
                    <label> تحديد الكل </label>
                </div>
            </div>
        </div>
    </div>
</form>


<form method="post" asp-controller="SoldierHolidays" asp-action="Add" enctype="multipart/form-data">
   
    
    <div class="flex-column align-center">
        <table class="width75">
            <thead>
                <tr>
                    <th>
                        الاسم 
                    </th>
                    <th>
                        تاريخ العودة
                    </th>
                    <th>
                        أيام العمالة
                    </th>
                    <th>
                         إضافة أجازة
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.SoldierHolidays is not null && Model.SoldierHolidays.Count() > 0)
                {
                    @for(int i = 0 ; i < Model.SoldierHolidays.Count ; i++)
                    {
                        <tr>
                            <td>@Model.SoldierHolidays[i]?.Soldier?.Name</td>
                            <td>@Model.SoldierHolidays[i]?.SoldierHoliday?.HolidayEndDate?.ToShortDateString()</td>
                            <td>@Model.SoldierHolidays[i]?.DaysSinceHoldiay</td>
                            <td class="center">
                                <input asp-for="@Model.SoldierHolidays[i].Soldier.Id" hidden />
                                <input asp-for="@Model.SoldierHolidays[i].IsSelected" class="align-center checkbox" type="checkbox" />
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

    
        <div class="flex-column align-center width75 gap1 mg-top50 card-radius padding30 bg-white shadow1">
            <div class="center gap3 width100">
                <div class="width100">
                    <label> تاريخ بداية الأجازة </label>
                    <input asp-for="@Model.HolidayStartDate" type="date" class="input-box width100"/>
                </div>
                <div class="width100">
                    <label> تاريخ نهاية الأجازة </label>
                    <input asp-for="@Model.HolidayEndDate" type="date" class="input-box width100"/>
                </div>
                <div class="width100">
                    <label asp-for="@Model.SelectedHolidayTypeId"> نوع الأجازة</label>
                    <select name="SelectedHolidayTypeId" class="input-box width100" asp-items="@(new SelectList(Model.HolidayTypes, "Id", "Type"))">
                    </select>
                </div>
            </div>       
            <div class="center gap3 width100">
                <div class="width100">
                    <label> المديرية </label>
                    <input asp-for="@Model.GeneralDepartment" type="text" class="input-box width100" />
                </div>
                <div class="width100">
                    <label> الإدارة </label>
                    <input asp-for="@Model.InnerDepartment" type="text" class="input-box width100" />
                </div>
                <div class="width100">
                    <label> القسم </label>
                    <input asp-for="@Model.SpecialInnerDepartment" type="text" class="input-box width100" />
                </div>
            </div>
            <div class="center gap3 width100">
                <div class="width100">
                    <label> الرتبة </label>
                    <input asp-for="@Model.MilitaryDegree" type="text" class="input-box width100" />
                </div>
                <div class="width100">
                    <label> الاسم </label>
                    <input asp-for="@Model.Name" type="text" class="input-box width100" />
                </div>
                <div class="width100">
                    <label> الوظيفة </label>
                    <input asp-for="@Model.Job" type="text" class="input-box width100" />
                </div>
            </div>
            <div class="flex-row justify-content-end width100">
                <button type="submit" class="center font20px white bold width100px height50px card-radius bg-primary"> حفظ</button>
            </div>
        </div>
    


    </div>

</form>


<script src="~/js/soldierHolidays.js"></script>