@using DailyOperations.Domain.ViewModels.SoldierHolidays;
@model GetAllSoldierHolidaysViewModel

<header class="center mg-top25 mg-bottom20"> الحضور </header>
<div class="center" id="officers-body">
    <table class="width90">
        <thead>
            <tr>
                <th class="width20">
                    <div class="flex-row center gap1">
                        <div> الاسم </div>
                    </div>
                </th>
                <th class="width20">
                    <div class="flex-row center gap1">
                        <div> أيام العمالة </div>
                    </div>
                </th>
                <th class="width20">
                    <div class="flex-column gap2">
                        <div> إضافة أجازة </div>
                        <div class="center gap1">
                            <label> تحديد الكل </label>
                            <input id="check-all" class="align-center" type="checkbox"/>
                        </div>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.SoldierHolidays is not null && Model.SoldierHolidays.Count() > 0)
            {
                @foreach (var obj in Model.SoldierHolidays)
                {
                    <tr>
                        <td>@obj.Soldier.Name</td>
                        <td>@obj.DaysSinceHoldiay</td>
                        <td class="center">
                            <input class="align-center checkbox" type="checkbox" />
                        </td>
                    </tr> 
                }
            }
        </tbody>
    </table>
</div>



@*
<form method="post" asp-controller="OfficerMilitaryDegrees" asp-action="AddOrUpdate" enctype="multipart/form-data">
    <div class="form-fees gap0" id="OfficerMilitaryDegreeForm">
        <div class="flex-row justify-content-start">
            <span class="material-symbols-rounded danger large-font" id="close" onclick="closeForm('OfficerMilitaryDegreeForm')">
                close
            </span>
        </div>
        <div class="flex-column align-center">
            <span id="OfficerMilitaryDegree-error" class="center danger font2rem mg-bottom20 bold"></span>

            @*<input hidden asp-for="@Model.PowerType.Id" id="powerTypeId" />

            <div class="mg-top50 width80">
                <label asp-for="@Model.OfficerMililaryDegree.Degree">الرتبة</label>
                <input asp-for="@Model.OfficerMililaryDegree.Degree" class="input-box width100" type="text" placeholder="ادخل الرتبة" />
            </div>

            <div class="center mg-bottom20 mg-top50">
                <button type="submit" class="center btn width300px height50px card-radius bg-primary"> حفظ</button>
            </div>
        </div>
    </div>
</form>

*@


<script>
    var selectAllCheckbox = document.getElementById('check-all');
    var checkboxes = document.getElementsByClassName('checkbox');

    selectAllCheckbox.addEventListener('change', function () {
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = selectAllCheckbox.checked;
        }
    });

    for (var i = 0; i < checkboxes.length; i++) {
        checkboxes[i].addEventListener('change', function () {
            var allChecked = true;
            for (var j = 0; j < checkboxes.length; j++) {
                if (!checkboxes[j].checked) {
                    allChecked = false;
                    break;
                }
            }
            selectAllCheckbox.checked = allChecked;
        });
    }
</script>