@using DailyOperations.Domain.ViewModels.Soldiers;
@model GetAllSoldiersViewModel

<header class="center mg-top25 mg-bottom20"> المجندين </header>

<div class="center mg-top20" id="officers-body">
    <table class="width100">
        <thead>
            <tr>
                <th>
                    <div class="flex-row center gap1">
                        <div>القوة</div>
                        <div class="cursor" onclick="openForm('PowerTypeForm')">
                            <span class="material-symbols-rounded primary cursor" style="font-size:20px;font-weight:500;">add_circle</span>
                        </div>
                    </div>
                </th>
                <th>
                    <div class="flex-row center gap1">
                        <div> الإدارة </div>
                        <div class="cursor" onclick="openForm('DepartmentForm')">
                            <span class="material-symbols-rounded primary cursor" style="font-size:20px;font-weight:500;">add_circle</span>
                        </div>
                    </div>
                </th>
                <th> الاسم </th>
                <th> التليفون </th>
                <th> تاريخ التجنيد </th>
                <th> تاريخ التسليم </th>
                <th> المؤهل </th>
                <th>
                    <div class="center">
                        <div class="cursor" onclick="openForm('SoldierForm')">
                            <span class="material-symbols-rounded primary cursor" style="font-size:38px;font-weight:500;">add_circle</span>
                        </div>
                    </div>

                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Soldiers != null && Model.Soldiers.Count() > 0)
            {
                @foreach (var obj in Model.Soldiers)
                {
                    <tr>
                        <td>@obj.PowerType?.Name</td>
                        <td>@obj.Department?.Name</td>
                        <td>@obj.Name</td>
                        <td>@obj.Phone</td>
                        <td>@obj.RecruitmentStartDate?.ToShortDateString()</td>
                        <td>@obj.RecruitmentEndDate?.ToShortDateString()</td>
                        <td class="dropdown">
                            <span class="dropbtn">
                                @obj.EducationType?.Type
                            </span>
                            <span class="dropdown-content">
                                @if(obj != null)
                                {
                                    @foreach(var skill in obj.Skills)
                                    {
                                        <span> @skill.Name </span>
                                    }
                                }
                            </span>
                        </td>
                        <td>
                            <div class="center gap2">
                                <a asp-controller="Soldiers" asp-route-id="@obj?.Id" asp-action="Delete">
                                    <span class="material-symbols-rounded danger">delete_forever</span>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>




<form method="post" asp-controller="Soldiers" asp-action="AddOrUpdate" enctype="multipart/form-data">
    <div class="form-fees gap0" id="SoldierForm">
        <div class="flex-row justify-content-start">
            <span class="material-symbols-rounded danger large-font" id="close" onclick="closeForm('SoldierForm')">
                close
            </span>
        </div>
        <div class="flex-column align-center gap2">
            <span id="SoldierError" class="center danger font2rem mg-bottom20 bold"></span>

            @*<input hidden asp-for="Soldier.Id" id="VehicleId" />*@
            
            <div class="center gap1 width90">
                <div class="mg-top20 width50">
                    <label asp-for="Soldier.Name"> الاسم </label>
                    <input asp-for="Soldier.Name" class="input-box width100" type="text" placeholder="أدخل اسم المجند" />
                </div>

                <div class="mg-top20 width50">
                    <label asp-for="Soldier.Phone"> التليفون </label>
                    <input asp-for="Soldier.Phone" class="input-box width100" type="text" placeholder="أدخل تليفون المجند" />
                </div>
            </div>

            <div class="center gap1 width90">
                <div class="mg-top20 width50">
                    <label asp-for="Soldier.EducationTypeId"> نوع المؤهل </label>
                    <select name="Soldier.EducationTypeId" class="input-box width100" asp-items="@(new SelectList(Model.EducationTypes, "Id", "Type"))">
                    </select>
                </div>

                <div class="mg-top20 width50" id="CertificateName">
                    <label asp-for="CertificateName"> الشهادة </label>
                    <input asp-for="CertificateName" class="input-box width100" type="text" placeholder="أدخل اسم شهادة المؤهل" />
                </div>
            </div>

            <div class="center gap1 width90">
                <div class="mg-top20 width80">
                    <label asp-for="Soldier.PowerTypeId"> القوة</label>
                    <select name="Soldier.PowerTypeId" class="input-box width100" asp-items="@(new SelectList(Model.PowerTypes, "Id", "Name"))">
                    </select>
                </div>

                <div class="mg-top20 width80">
                    <label asp-for="Soldier.DepartmentId">الإدارة</label>
                    <select name="Soldier.DepartmentId" class="input-box width100" asp-items="@(new SelectList(Model.Departments, "Id", "Name"))">
                    </select>
                </div>
            </div>

            <div class="center gap1 width90">
                <div class="mg-top20 width80">
                    <label asp-for="Soldier.RecruitmentStartDate"> تاريخ التجنيد </label>
                    <input asp-for="Soldier.RecruitmentStartDate" class="input-box width100" type="date" />
                </div>

                <div class="mg-top20 width80">
                    <label asp-for="Soldier.RecruitmentEndDate"> تاريخ التسليم </label>
                    <input asp-for="Soldier.RecruitmentEndDate" class="input-box width100" type="date" />
                </div>

                <div class="mg-top20 width80">
                    <label asp-for="ExtraDuration">  مدة إضافية </label>
                    <input asp-for="ExtraDuration" class="input-box width100" type="text" />
                </div>
            </div>


            <div class="mg-top20 width90 mg-bottom20">
                <label class="center">  المهارات </label>
                <div class="flex-row width100 justify-content-between align-center">
                    @foreach (var skill in Model.Skills)
                    {
                        @if (Model.HasSkill != null && Convert.ToInt32(skill.Id - 1) >= 0 && Convert.ToInt32(skill.Id - 1) < Model.HasSkill.Count)
                         {
                            <div class="flex-row gap1 mg-top20 align-center">
                                <input type="checkbox" asp-for="HasSkill[Convert.ToInt32(skill.Id - 1)]" />
                                <div class="font20px"> @skill.Name </div>
                            </div>
                        }
                    }
                </div>
            </div>

            <div class="center mg-bottom50 mg-top50">
                <button type="submit" class="center btn width500px height50px card-radius bg-primary"> حفظ</button>
            </div>
        </div>
    </div>
</form>





<form method="post" asp-controller="PowerTypes" asp-action="AddOrUpdate" enctype="multipart/form-data">
    <div class="form-fees gap0" id="PowerTypeForm">
        <div class="flex-row justify-content-start">
            <span class="material-symbols-rounded danger large-font" id="close" onclick="closeForm('PowerTypeForm')">
                close
            </span>
        </div>
        <div class="flex-column align-center">
            <span id="powerTypes-error" class="center danger font2rem mg-bottom20 bold"></span>


            <div class="mg-top20 width80">
                <label asp-for="PowerType.Name">القوة</label>
                <input asp-for="PowerType.Name" class="input-box width100" type="text" placeholder="ادخل نوع القوة" />
            </div>

            <div class="center mg-bottom50 mg-top50">
                <button type="submit" class="center btn width300px height50px card-radius bg-primary"> حفظ</button>
            </div>
        </div>
    </div>
</form>




<form method="post" asp-controller="Departments" asp-action="AddOrUpdate" enctype="multipart/form-data">
    <div class="form-fees gap0" id="DepartmentForm">
        <div class="flex-row justify-content-start">
            <span class="material-symbols-rounded danger large-font" id="close" onclick="closeForm('DepartmentForm')">
                close
            </span>
        </div>
        <div class="flex-column align-center">
            <span id="Departments-error" class="center danger font2rem mg-bottom20 bold"></span>


            <div class="mg-top20 width80">
                <label asp-for="Department.Name">الإدارة</label>
                <input asp-for="Department.Name" class="input-box width100" type="text" placeholder="ادخل اسم الإدارة" />
            </div>

            <div class="center mg-bottom50 mg-top50">
                <button type="submit" class="center btn width300px height50px card-radius bg-primary"> حفظ</button>
            </div>
        </div>
    </div>
</form>




<script src="~/js/soldier.js"></script>